<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.yunbao.main">

    <application
        android:allowBackup="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".activity.LoginActivity"
            android:theme="@style/LauncherAppTheme"
             />
        <activity
            android:name=".activity.MainActivity"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustNothing|stateAlwaysHidden" />
        <activity
            android:name=".activity.UserHomeActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SettingActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.EditProfileActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan|stateAlwaysHidden" />
        <activity
            android:name=".activity.FansActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.FollowActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.SearchActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.MyProfitActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.CashDetailActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.VideoWatchRecordActivity"
            android:screenOrientation="portrait" />


        <activity
            android:name=".activity.PrivacyPolicyActivity"
            android:screenOrientation="portrait" />

        <activity
            android:name=".activity.NameCardActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BackWallActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".activity.BackWallOtherActivity"
            android:screenOrientation="portrait" />

    </application>
</manifest>
